@import url("./reset.css");
/* @import url("./header/header.css");
@import url("./header/lenta.css"); */
@import url("./header/header_index.css");

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pattaya&family=Roboto:wght@300&display=swap");

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0px;
}
